@import "tailwindcss";

:root {
  --background: #fffcf1;
  --foreground: #1a1a1a;
  --color-primary: #ff6b35;
  --color-secondary: #ff8f5a;
  --color-accent: #ffaa7a;
  --color-text-dark: #0f0f0f;
  --color-text-light: #525252;
  --color-warning: #ff4d1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-alegreya);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fffcf1;
    --foreground: #fdfcfa;
    --color-primary: #ff6b35;
    --color-secondary: #ff8f5a;
    --color-accent: #ffaa7a;
  }
}

html,
body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), monospace;
  overflow-x: hidden;
  overflow-y: auto;
}

.alegreya-font {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-padding-top: 100px;
}

section[id] {
  animation: fadeInUp 0.6s ease-out;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-cursor {
  display: inline-block;
  margin-left: 4px;
  font-weight: bold;
  animation: blink 0.4s steps(1) infinite; /* on/off, no fade */
}
